#favorites {
    width: 60%;
    height: 60vh;
    background-color: rgba(128, 128, 128, 0.3);
    margin: auto;
    border-radius: 25px;
}

tr, th, td {
    border: 1px solid black;
}

table {
    margin: auto;
}

#favorite-product {
    margin-top: 1%;
}

#favorite-product th, td {
    text-align: center;
}

#submit {
    color: #841ced;
}

#fav_text {
    text-align: center;
}

#fav_remove {
    color: red;
}

#logo-img {
    width: 15%;
    height: 8vh;
    margin-left: 40%;
}