#table-picture-brand{
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;

}
#table-picture-brand img {
    border: 1px solid #e8e4d4;
    width: 100px;
    height: 100px;
}

#table-picture-brand ul li {
    display: inline;
    margin-left: 15px;
}

.pic img{
    margin-top: 8px;
}

.row {
    width: 100%;
}

